<html>
<head>
<title>Registration</title>
</head>
<body>
<form action="/reg" method="post">
<center>
<h1>Register Here</h1>
usename:<input type="text" placeholder="username" id="t1" name="usr"><br>

email:<input type="email" placeholder="email" id="t2" name="email"><br>
Roll No:<input type="text" placeholder="roll number" id="t3" name="roll"><br>
phone No:<input type="number" placeholder="phone" id="t4" name="ph"><br>
password:<input type="password" placeholder="password" id="t5" name="pwd"><br>
<input type="submit" id="s1"> <a href="login.html">login</a></center>
</form>
</body>
</html>